In [3]:
import pandas as pd
from scipy import stats
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.metrics as sk
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [50]:
df = pd.read_csv('boxing-bouts.csv')

In [51]:
df_tr = df

In [52]:
print(df.shape)
df.head()

(232456, 24)

,age_A,age_B,height_A,height_B,reach_A,reach_B,weight_A,weight_B,won_A,won_B,...,kos_A,kos_B,result,decision,judge1_A,judge1_B,judge2_A,judge2_B,judge3_A,judge3_B
0,20,24,178,173,178,178,135,134,0,0,...,0,0,win_A,KO,59,54,58,54,58,54
1,25,26,173,173,178,178,149,149,16,12,...,6,7,win_A,TKO,59,54,58,54,58,54
2,30,26,187,173,196,178,140,140,46,3,...,26,2,win_A,KO,59,54,58,54,58,54
3,20,26,173,173,178,178,126,126,2,3,...,1,3,draw,SD,40,39,40,40,39,40
4,28,29,173,160,178,178,140,112,53,11,...,4,1,win_A,PTS,59,54,58,54,58,54

In [53]:
df_tr = pd.get_dummies(df_tr, columns=['result','decision'])

In [54]:
clmns = ['age_A', 'age_B','height_A', 'height_B','reach_A','reach_B','weight_A','weight_B','won_A','won_B','lost_A','lost_B','drawn_A','drawn_B','kos_A','kos_B','result','judge1_A','judge1_B','judge2_A','judge2_B','judge3_A','judge3_B','decision']

In [55]:
dt2 =  df.drop('result',1) #feature set
dt2 = pd.get_dummies(dt2, columns=['decision'])

In [56]:
kmeans = KMeans(n_clusters=3, random_state=10).fit(dt2)
labels = kmeans.labels_

In [57]:
df_tr['clusters'] = labels

In [58]:
clmns.extend(['clusters'])

In [59]:
print(df_tr.shape)
df_tr.head()

(232456, 36)

,age_A,age_B,height_A,height_B,reach_A,reach_B,weight_A,weight_B,won_A,won_B,...,decision_KO,decision_MD,decision_NWS,decision_PTS,decision_RTD,decision_SD,decision_TD,decision_TKO,decision_UD,clusters
0,20,24,178,173,178,178,135,134,0,0,...,1,0,0,0,0,0,0,0,0,0
1,25,26,173,173,178,178,149,149,16,12,...,0,0,0,0,0,0,0,1,0,0
2,30,26,187,173,196,178,140,140,46,3,...,1,0,0,0,0,0,0,0,0,0
3,20,26,173,173,178,178,126,126,2,3,...,0,0,0,0,0,1,0,0,0,0
4,28,29,173,160,178,178,140,112,53,11,...,0,0,0,1,0,0,0,0,0,1

In [60]:
dt1 = pd.read_csv('boxing-bouts-test.csv')
dt2 = dt1

In [61]:
print(dt1.shape)
dt1.head()

(154971, 24)

,age_A,age_B,height_A,height_B,reach_A,reach_B,weight_A,weight_B,won_A,won_B,...,kos_A,kos_B,result,decision,judge1_A,judge1_B,judge2_A,judge2_B,judge3_A,judge3_B
0,35,27,179,175,178,179,160,160,37,49,...,33,34,draw,SD,110,118,115,113,114,114
1,26,31,175,185,179,185,164,164,48,50,...,34,32,win_A,UD,120,108,120,108,120,108
2,28,26,176,175,178,179,154,154,23,47,...,13,33,win_B,KO,59,54,58,54,58,54
3,27,22,177,175,183,179,140,140,26,41,...,14,30,win_B,UD,112,115,109,118,111,116
4,21,40,175,174,179,180,154,154,39,46,...,29,39,win_A,UD,119,109,119,109,118,110

In [62]:
dt1_tr= pd.get_dummies(dt1, columns=['result'])
dt2_tr =  dt2.drop('result',1) #feature set
dt2_tr= pd.get_dummies(dt2_tr, columns=['decision'])

In [63]:
y_kmeans = kmeans.predict(dt2_tr)

In [64]:
centroids = kmeans.cluster_centers_

In [65]:
print(centroids) # From sci-kit learn

[[2.36563252e+01 2.63968964e+01 1.73124652e+02 1.73020649e+02
  1.78226599e+02 1.78040223e+02 1.41700851e+02 1.41933940e+02
  1.18028545e+01 8.88010147e+00 2.92216452e+00 7.01179845e+00
  1.33099078e+00 1.57415882e+00 5.96174217e+00 3.92793519e+00
  5.76076059e+01 5.28902830e+01 5.62687532e+01 5.24843421e+01
  5.64558772e+01 5.26642098e+01 1.05757529e-02 1.94917239e-01
  2.55509276e-02 3.60752587e-02 2.52155431e-01 2.49738606e-02
  2.67336293e-02 7.29618393e-03 2.63331105e-01 1.58390612e-01]
 [2.64107910e+01 2.60389859e+01 1.71736290e+02 1.72698374e+02
  1.78210001e+02 1.78234573e+02 1.44123661e+02 1.44191084e+02
  6.36456727e+01 3.66151173e+01 1.51241133e+01 1.49398968e+01
  8.54327309e+00 6.74644789e+00 2.54113462e+01 1.34657331e+01
  5.88836181e+01 5.39075730e+01 5.66909506e+01 5.28008348e+01
  5.68823638e+01 5.29975942e+01 2.17753377e-02 1.68527543e-01
  9.29410071e-03 1.08691629e-01 4.18789711e-01 2.17753377e-02
  1.87732610e-02 2.85814159e-03 1.54853700e-01 7.46612383e-02]
 [2.74317045e+01 2.81601136e+01 1.73581705e+02 1.73204205e+02
  1.78580909e+02 1.78596591e+02 1.41846023e+02 1.41698864e+02
  2.45637500e+01 2.23486364e+01 3.16897727e+00 5.33897727e+00
  8.38750000e-01 1.11500000e+00 1.43220455e+01 1.25204545e+01
  1.00217727e+02 9.56622727e+01 1.06582500e+02 1.02521023e+02
  1.06129659e+02 1.02404205e+02 1.13636364e-03 1.10227273e-02
  8.42045455e-02 2.79637424e-15 2.43181818e-02 8.18181818e-03
  1.42500000e-01 6.81818182e-03 4.19318182e-02 6.79886364e-01]]

In [66]:
lable = pd.factorize(dt2['result'])[0]

In [67]:
k = pd.DataFrame({'Labels': lable, 'Clusters': y_kmeans})

In [68]:
ct = pd.crosstab(k['Labels'],k['Clusters'])

In [69]:
print(ct)

Clusters      0      1     2
Labels
0          7020   2651   262
1         99300  24544  4901
2         10264   5249   780

In [70]:
sk.confusion_matrix(lable,y_kmeans)

array([[ 7020,  2651,   262],
       [99300, 24544,  4901],
       [10264,  5249,   780]], dtype=int64)

In [71]:
accuracy_score(lable,y_kmeans)*100

20.871001671280435